$height: calc(100% - 4rem - 4px);
$width: calc(100% - 4rem);

.main {
    width: $width;
    height: $height;
    position: absolute;
    right: 0;
    overflow-y: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}