.container {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

    .header {
        height: 4rem;
        width: 100%;
        border-bottom: 4px solid var(--green);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: var(--white);
        position: relative;

        &__title {
            font-size: 1.8rem;
            font-family: Roboto, sans-serif;
            font-weight: 300;
            color: var(--black);
            margin-left: 1rem;
        }

        &__button-add {
            position: absolute;
            right: 4rem;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }
        }

        &__button-remove {
            position: absolute;
            right: 1rem;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }
        }
    }

    .table {

        width: 100%;
        height: calc(100% - 4rem);
        display: grid;
    }

    
}
