html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --black: rgb(43, 43, 43);
  --dark-gray: rgb(80, 80, 80);
  --gray: rgb(124, 124, 124);
  --green: #43B978;
  --dark-green: #218760;
  --white: rgb(247, 247, 247);
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

