.head {
    display: block;
    height: 3rem;
    min-height: 5%;

    &__row {
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 3px solid rgba(black, 0.1);

        &__title {
            font-family: Cairo, sans-serif;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--gray);
            transition: 0.3s;
            padding: 1rem 3rem 1rem 0rem;

            &:hover {
                color: var(--green);
                transition: 0.3s;
            }
        }

        &__checkbox {
            & > input {
                appearance: none;

                &::after {
                    content: "";
                    display: block;
                    width: 0.8rem;
                    height: 0.8rem;
                    border: 1px solid var(--gray);
                    background-color: var(--white);
                    cursor: pointer;
                    box-sizing: border-box;
                    margin: 0.8rem;
                }

                &:hover {
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.1);
                    transition: 0s border-radius, 0.3s box-shadow;
                }


                &:checked {
                    &::after {
                        background-color: var(--green);
                        border-color: var(--gray);
                    }
                }
            }
        }
    }
}
